{% extends "base.html.twig" %}

{% block body %}
    <section class="container-fluid" id="admin_home">
        <ul>
            <li><a href="">Gérer les utilisateurs</a></li>
            <li><a href="">Gérer les APIs</a></li>
            <li><a href="">Tickets en cours</a></li>
            <li><a href="">Paramètres</a></li>
        </ul>
    </section>
{% endblock %}

