{% extends "base.html.twig" %}

{% block body %}
    <section class="container-fluid" id="manage_users">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Formule</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.billingPlan??'Free' }}</td>
                    <td>{{ user.isVerified?'verified':'not verified' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

