@import "~bootstrap/scss/bootstrap";

$background: #111;
$orange: #F37A28;
$orange-red: #DB4443;
$dark-pink: #B21152;
$purple: #7C0057;
$dark-purple: #41004E;
$white: #FFF;

$theme-colors: (
        "primary": $orange,
        "danger": $dark-pink
);

body {
    background-color: $background;
    color: $white;
}

th, td {
    color: white;
}

#header_base {
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
    color: $purple;
}

#get_program_title, .all_episodes {
    figure {
        display: inline-table;
        img {
            height: 300px;
        }

        figcaption {
            text-align: center;
            font-weight: bold;
            font-size: 1.4rem;
        }
    }
}

#user_page {
    img {
        display: block;
        margin: 15px auto;
        height: 125px;
        width: 125px;
        border: 3px solid #4e555b;
    }

    .no_image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid #4e555b;
        background-color: #999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;

        p {
            font-size: 4em;
            margin-bottom: 0;
        }
    }
}