{% extends "base.html.twig" %}

{% block body %}
    <section class="container" id="user_index">
        {{ form_start(form) }}
        {{ form_widget(form.search) }}
        {{ form_end(form) }}
        <a href="{{ path('api_index') }}">See all</a>
        <article id="welcome" class="mt-5">
            <h1>Bienvenue sur API Explorer !</h1>
            <blockquote>
            </blockquote>
        </article>
    </section>

{% endblock %}
